Packs/POVContentPack/Playbooks/XSIAM_Starter_Configuration_Setup.yml
id: XSIAM Starter Configuration Setup
version: 28
vcShouldKeepItemLegacyProdMachine: false
name: XSIAM Starter Configuration Setup
description: Playbook to run to set-up your XSIAM Tenant with Starter Configuration
  for POVs
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 87c0fc96-fe3b-4d31-88f3-95e2ee80cd9e
    type: start
    task:
      id: 87c0fc96-fe3b-4d31-88f3-95e2ee80cd9e
      version: -1
      name: ""
      description: Start Task
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": -832
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: af7013e6-05bb-439b-8c4b-e9aeac461e4c
    type: regular
    task:
      id: af7013e6-05bb-439b-8c4b-e9aeac461e4c
      version: -1
      name: Configuration Setup with Saved XSIAM File
      description: Parses xsoar_config.json file to save configuration to context
        for the Content Management pack.
      scriptName: ExtendedConfigurationSetup
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      configuration_file_entry_id:
        complex:
          root: File
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: File.Name
                iscontext: true
              right:
                value:
                  simple: xsoar_config.json
          accessor: EntryID
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 3e6c68e8-0e8b-4352-85d8-aff2a87bd0e6
    type: title
    task:
      id: 3e6c68e8-0e8b-4352-85d8-aff2a87bd0e6
      version: -1
      name: DONE
      description: DONE
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6431
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 6e04d14c-a512-4e37-8a2a-0f7e75b30ddd
    type: regular
    task:
      id: 6e04d14c-a512-4e37-8a2a-0f7e75b30ddd
      version: -1
      name: Set Custom Packs Installed field
      description: "Saves \"Install Custom Packs\" task results to Alert Field \"custompacksinstalled\"
        from XSOAR CI/CD content. \n\nIf \"custompacksinstalled\" does not exist,
        task will continue on error. This is a non-breaking issue. Simply check the
        output of \"Install Custom Packs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      custompacksinstalled:
        simple: ${ConfigurationSetup.CustomPacks}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 2092
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 4019a8ac-2ca3-45fe-8dda-5a6be4b66bce
    type: regular
    task:
      id: 4019a8ac-2ca3-45fe-8dda-5a6be4b66bce
      version: -1
      name: Set Marketplace Packs Installed field
      description: "Saves \"Install Marketplace Packs\" task results to Alert Field
        \"marketplacepacksinstalled\" from XSOAR CI/CD content. \n\nIf \"marketplacepacksinstalled\"
        does not exist, task will continue on error. This is a non-breaking issue.
        Simply check the output of \"Install Marketplace Packs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      marketplacepacksinstalled:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: b845ceaf-2c94-41bb-8a49-776c477fcc7e
    type: regular
    task:
      id: b845ceaf-2c94-41bb-8a49-776c477fcc7e
      version: -1
      name: Set Lists Created field
      description: "Saves \"Create Lists\" task results to Alert Field \"listscreated\"
        from XSOAR CI/CD content. \n\nIf \"listcreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Lists\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      listscreated:
        simple: ${ConfigurationSetup.Lists}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1364
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 68dae323-03d4-4b9e-875f-713a0315cf6d
    type: regular
    task:
      id: 68dae323-03d4-4b9e-875f-713a0315cf6d
      version: -1
      name: Set Jobs Created field
      description: "Saves \"Create Jobs\" task results to Alert Field \"jobscreated\"
        from XSOAR CI/CD content. \n\nIf \"jobscreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Jobs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      jobscreated:
        simple: ${ConfigurationSetup.Jobs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3639
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 8cea73eb-cccd-49a6-8461-4cf19adc072b
    type: title
    task:
      id: 8cea73eb-cccd-49a6-8461-4cf19adc072b
      version: -1
      name: Install Custom Packs
      description: Install Custom Packs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1289
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: d0215518-c232-450f-83b6-cb8c285ae5f2
    type: regular
    task:
      id: d0215518-c232-450f-83b6-cb8c285ae5f2
      version: -1
      name: Install Custom Packs
      description: Wrapper for the pov-install-content-bundle Integration Instance
        Command
      scriptName: POVInstallContentBundle
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      entry_filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      retry-count:
        simple: "2"
      save_as_system:
        simple: ${ConfigurationSetup.CustomPacks.system}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1953
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 0af57a0b-56b4-4ad3-847d-78ba1b028920
    type: title
    task:
      id: 0af57a0b-56b4-4ad3-847d-78ba1b028920
      version: -1
      name: Install Marketplace Packs
      description: Install Marketplace Packs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 28eae36f-75fa-4582-bea8-8fe705b826a1
    type: regular
    task:
      id: 28eae36f-75fa-4582-bea8-8fe705b826a1
      version: -1
      name: Install Marketplace Packs
      description: Content packs installer from marketplace.
      scriptName: ContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      execution-timeout:
        simple: "1000"
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1028
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 3c779662-868d-4001-8055-8401f1d33ace
    type: title
    task:
      id: 3c779662-868d-4001-8055-8401f1d33ace
      version: -1
      name: Configure Lists
      description: Configure the lists
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 122,
          "y": 885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 8a307ba8-6a66-4e6f-813f-4d8ce9ed75f8
    type: title
    task:
      id: 8a307ba8-6a66-4e6f-813f-4d8ce9ed75f8
      version: -1
      name: Configure Jobs
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 184,
          "y": 3162
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 3ca9e990-1ed0-4550-803d-2edaec67bbde
    type: regular
    task:
      id: 3ca9e990-1ed0-4550-803d-2edaec67bbde
      version: -1
      name: Create Jobs
      description: Job Creator for the Content Management pack.
      scriptName: JobCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      job_name:
        simple: ${ConfigurationSetup.Jobs.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3494
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 3f118b31-4081-4b93-860f-fdc2b76761ae
    type: regular
    task:
      id: 3f118b31-4081-4b93-860f-fdc2b76761ae
      version: -1
      name: Create Lists
      description: List creator for the content management pack.
      scriptName: ListCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      list_data:
        simple: ${ConfigurationSetup.Lists.listdata}
      list_name:
        simple: ${ConfigurationSetup.Lists.listname}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1204
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 89927b02-6d7a-4a94-8f11-77095e4a67f9
    type: title
    task:
      id: 89927b02-6d7a-4a94-8f11-77095e4a67f9
      version: -1
      name: Configurations
      description: Configurations
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
      - "13"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: cf19b703-eb38-4fdf-8360-3e7e8467e5ce
    type: regular
    task:
      id: cf19b703-eb38-4fdf-8360-3e7e8467e5ce
      version: -1
      name: Download Custom Packs using an HTTP request
      description: Sends an HTTP request. Returns the response as a JSON file.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.CustomPacks.packurl}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1823
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: c3ff73f7-0d91-4223-883e-bd4ef8c71dd5
    type: regular
    task:
      id: c3ff73f7-0d91-4223-883e-bd4ef8c71dd5
      version: -1
      name: closeInvestigation
      description: Close the current incident
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6256
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 506e6061-676d-4f19-8d3c-9aef27eb366b
    type: condition
    task:
      id: 506e6061-676d-4f19-8d3c-9aef27eb366b
      version: -1
      name: Lists to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Lists
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 122,
          "y": 1044
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 5b0d08ae-ea37-4c5f-8667-0e9485a0b9ac
    type: condition
    task:
      id: 5b0d08ae-ea37-4c5f-8667-0e9485a0b9ac
      version: -1
      name: Jobs to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Jobs
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 180,
          "y": 3299
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: e779d01f-2ae0-4242-8187-d86ec2dc57d1
    type: regular
    task:
      id: e779d01f-2ae0-4242-8187-d86ec2dc57d1
      version: -1
      name: Download Configuration File from raw HTTP GitHub Repo
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      filename:
        simple: xsoar_config.json
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${incident.povgithubxsoarconfigfilepath}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 383
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 8f351954-a2aa-4f62-8673-4b45383dccba
    type: title
    task:
      id: 8f351954-a2aa-4f62-8673-4b45383dccba
      version: -1
      name: Content Fetch
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 204
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 74b0b1dc-7960-4fe6-8c68-4ee2a49f555c
    type: title
    task:
      id: 74b0b1dc-7960-4fe6-8c68-4ee2a49f555c
      version: -1
      name: Clean-Up
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "85"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 5904
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: ea82e460-b907-4b5e-8f37-e24666f56854
    type: title
    task:
      id: ea82e460-b907-4b5e-8f37-e24666f56854
      version: -1
      name: Set-Up Playbook Pre-Reqs
      description: This section installs required content packs, such as ContentManagement
        Pack and CoreRestAPI, and creates integration instances that must be used
        later in the playbook.
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -673
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: d5e4c442-0c82-4229-83f7-1a0c2443791e
    type: condition
    task:
      id: d5e4c442-0c82-4229-83f7-1a0c2443791e
      version: -1
      name: Custom Packs to Install?
      description: Checks whether there are custom packs to install when no source
        is provided. In that case, the playbook will stop with an error.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "54"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: ConfigurationSetup
                accessor: CustomPacks
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1423
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: 2a2de788-3f0b-417f-8643-6c643a55c717
    type: regular
    task:
      id: 2a2de788-3f0b-417f-8643-6c643a55c717
      version: -1
      name: Grab Enabled Integration Instances
      description: Gets all currently enabled integration instances.
      scriptName: GetEnabledInstances
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "55"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1553
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 950cd946-4d27-4f84-8533-0d3989b75003
    type: condition
    task:
      id: 950cd946-4d27-4f84-8533-0d3989b75003
      version: -1
      name: POV XSIAM Integration Instance Enabled?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: EnabledInstances
            iscontext: true
          right:
            value:
              simple: POV XSIAM Content Management Instance
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1688
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 8b50c643-00d0-4d16-8eef-afdc67b85224
    type: regular
    task:
      id: 8b50c643-00d0-4d16-8eef-afdc67b85224
      version: -1
      name: Grab Server URL
      description: Get the Server URL.
      scriptName: GetServerURL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -538
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: 261a39eb-9544-47e9-8fc4-79e340b77752
    type: regular
    task:
      id: 261a39eb-9544-47e9-8fc4-79e340b77752
      version: -1
      name: Create pov-install-content-bundle Integration Instance
      description: "Creates a 'POV XSIAM Content Management' Integration Instance,
        which is used to install custom content bundles. \n\nIf the instance already
        exists, the command will error. This is expected, and the task will continue
        on error."
      script: '|||core-api-put'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      body:
        simple: '{"version": 22, "propagationLabels": ["all"], "isOverridable": false,
          "enabled": "true", "name": "POV XSIAM Content Management Instance", "brand":
          "POV XSIAM Content Management", "category": "Utilities", "engine": "", "engineGroup":
          "", "isIntegrationScript": true, "mappingId": "", "outgoingMapperId": "",
          "incomingMapperId": "", "canSample": false, "defaultIgnore": false, "integrationLogLevel":
          "", "configuration": {"id": "", "version": 0, "cacheVersn": 0, "modified":
          "0001-01-01T00:00:00Z", "sizeInBytes": 0, "packID": "", "packName": "",
          "itemVersion": "", "fromServerVersion": "", "toServerVersion": "", "definitionId":
          "", "isOverridable": false, "vcShouldIgnore": false, "vcShouldKeepItemLegacyProdMachine":
          false, "commitMessage": "", "shouldCommit": false, "name": "", "prevName":
          "", "display": "", "brand": "", "category": "", "icon": "", "description":
          "", "configuration": null, "integrationScript": null, "hidden": false, "canGetSamples":
          false}, "data": [{"section": "Connect", "display": "API Key ID", "displayPassword":
          "API Key", "name": "credentials", "defaultValue": "", "type": 9, "required":
          true, "hidden": false, "hiddenUsername": false, "hiddenPassword": false,
          "options": null, "info": "", "hasvalue": true, "value": {"credential": "Standard
          XSIAM API Key", "credentials": {"cacheVersn": 0, "id": "", "locked": false,
          "modified": "0001-01-01T00:00:00Z", "name": "", "sizeInBytes": 0, "user":
          "", "vaultInstanceId": "", "version": 0, "workgroup": ""}, "passwordChanged":
          false}}, {"section": "Connect", "advanced": true, "display": "Trust any
          certificate (not secure)", "displayPassword": "", "name": "insecure", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "advanced": true, "display": "Use
          system proxy settings", "displayPassword": "", "name": "proxy", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "display": "Server URL (e.g., https://api.xsoar-example.com)",
          "displayPassword": "", "name": "url", "defaultValue": "https://api.xsoar-example.com",
          "type": 0, "required": true, "hidden": false, "hiddenUsername": false, "hiddenPassword":
          false, "options": null, "info": "", "hasvalue": true, "value": "https://api-${ServerURL.Host}"}],
          "passwordProtected": false}'
      uri:
        simple: xsoar/public/v1/settings/integration
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -393
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 5b91fb6f-9428-4d95-9684-5f85bad973c6
    type: regular
    task:
      id: 5b91fb6f-9428-4d95-9684-5f85bad973c6
      version: -1
      name: Install XSOAR CI/CD MP Pack
      description: Content packs installer from marketplace.
      scriptName: ContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"ContentManagement", "packversion":"latest"}]'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": -103
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: 0bcf69dc-8b1d-417f-9268-4fd37104625c
    type: regular
    task:
      id: 0bcf69dc-8b1d-417f-9268-4fd37104625c
      version: -1
      name: Update Base
      description: Installs/upgrades Base Marketplace content pack
      scriptName: XSIAMContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"Base", "packversion":"latest"}, {"packid": "CommonScripts",
          "packversion": "latest"}, {"packid": "DemistoRESTAPI", "packversion": "latest"}]'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -256
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: fee4bf9c-7bfa-4481-8c0c-0a0d80f02c4c
    type: regular
    task:
      id: fee4bf9c-7bfa-4481-8c0c-0a0d80f02c4c
      version: -1
      name: Delete Pre Configs' ConfigurationSetup Context
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex XSOAR 6
        see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      key:
        simple: ConfigurationSetup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: b1cd3737-7121-4096-8547-812b0493ac76
    type: regular
    task:
      id: b1cd3737-7121-4096-8547-812b0493ac76
      version: -1
      name: Set Integration Instances Created field
      description: "Saves \"Create Integration Instances\" task results to Alert Field
        \"integrationinstancescreated\" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"integrationinstancescreated\" does not exist, task will continue
        on error. This is a non-breaking issue. Simply check the output of \"Create
        Integration Instances\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      integrationinstancescreated:
        simple: ${ConfigurationSetup.IntegrationInstances}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2759
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 511f30a6-74e1-44b7-8cd1-dbba5780e030
    type: regular
    task:
      id: 511f30a6-74e1-44b7-8cd1-dbba5780e030
      version: -1
      name: Create Integration Instances
      description: Integration Instance Creator for the Content Management pack.
      scriptName: IntegrationInstanceCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      integration_instance_name:
        simple: ${ConfigurationSetup.IntegrationInstances.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2624
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: 548748e8-dd84-43e6-87b2-9c80a10db42b
    type: condition
    task:
      id: 548748e8-dd84-43e6-87b2-9c80a10db42b
      version: -1
      name: Integration Instances to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "65"
      "yes":
      - "62"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.IntegrationInstances
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2484
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 7c873cb0-06d9-42c9-8d17-9bc431c73cfe
    type: title
    task:
      id: 7c873cb0-06d9-42c9-8d17-9bc431c73cfe
      version: -1
      name: Configure Integration Instances
      description: Configure the integration instances
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "63"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2364
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 70029049-3ba2-4b72-866b-39fd1837a904
    type: title
    task:
      id: 70029049-3ba2-4b72-866b-39fd1837a904
      version: -1
      name: Configurations, Part 2
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "67"
      - "17"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2953
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: 39ae4aa2-9c46-43f7-8d14-97e3d8e2a908
    type: regular
    task:
      id: 39ae4aa2-9c46-43f7-8d14-97e3d8e2a908
      version: -1
      name: Set Lookup Datasets Created field
      description: "Saves \"Create Lookup Datasets\" task results to Alert Field \"lookupdatasetscreated\"
        from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"lookupdatasetscreated\" does not exist, task will continue on error.
        This is a non-breaking issue. Simply check the output of \"Create Lookup Datasets\"
        to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      lookupdatasetscreated:
        simple: ${ConfigurationSetup.LookupDatasets}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3886
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: 88af27d6-54f8-49ac-881b-a066e71c8ad7
    type: title
    task:
      id: 88af27d6-54f8-49ac-881b-a066e71c8ad7
      version: -1
      name: Configure Lookup Datasets
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "69"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3167
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: 657ca92d-d06e-490b-8f85-170c9c07efd1
    type: regular
    task:
      id: 657ca92d-d06e-490b-8f85-170c9c07efd1
      version: -1
      name: Install Lookup Dataset
      description: Lookup Dataset Creator for the Content Management pack.
      scriptName: LookupDatasetCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      lookup_dataset_name:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3744
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: a467c82a-7056-46bd-881b-7b509fc1081a
    type: condition
    task:
      id: a467c82a-7056-46bd-881b-7b509fc1081a
      version: -1
      name: Lookup Datasets to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "70"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.LookupDatasets
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3312
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 12e10573-63f0-4ee8-8b9f-030706316994
    type: condition
    task:
      id: 12e10573-63f0-4ee8-8b9f-030706316994
      version: -1
      name: Need to grab data from URL?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "71"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.LookupDatasets.url
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3471
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: b317e36f-8f51-4003-8bcb-77e95e149dba
    type: regular
    task:
      id: b317e36f-8f51-4003-8bcb-77e95e149dba
      version: -1
      name: Download Lookup Dataset from URL
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.LookupDatasets.url}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1245,
          "y": 3598
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: 5f7e8b29-e465-4685-8c70-641c6f423a65
    type: regular
    task:
      id: 5f7e8b29-e465-4685-8c70-641c6f423a65
      version: -1
      name: Set Correlation Rules Created field
      description: |-
        Saves "Create Correlation Rules" task results to Alert Field "correlationrulescreated" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).

        If "correlationrulescreated" does not exist, task will continue on error. This is a non-breaking issue. Simply check the output of "Create Correlation Rules" to see task status.
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      correlationrulescreated:
        simple: ${ConfigurationSetup.CorrelationRules}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -186,
          "y": 5182
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 2ad7a012-1119-4ec2-8f4f-70f16ecd96ce
    type: regular
    task:
      id: 2ad7a012-1119-4ec2-8f4f-70f16ecd96ce
      version: -1
      name: Create Correlation Rules
      description: Correlation Rule Creator for the Content Management pack.
      scriptName: CorrelationRuleCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      correlation_rule_name:
        simple: ${ConfigurationSetup.CorrelationRules.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -186,
          "y": 5037
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: 7f2c820a-7aed-403e-8d17-42faf9dd5c29
    type: condition
    task:
      id: 7f2c820a-7aed-403e-8d17-42faf9dd5c29
      version: -1
      name: Correlation Rules to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "73"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.CorrelationRules
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 37,
          "y": 4842
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: f18ea4e3-f57e-48f5-8d86-619f9da0dafe
    type: title
    task:
      id: f18ea4e3-f57e-48f5-8d86-619f9da0dafe
      version: -1
      name: Configure Correlation Rules
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "74"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 37,
          "y": 4699
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: d841b445-1090-4698-84fb-0d834d8446b9
    type: regular
    task:
      id: d841b445-1090-4698-84fb-0d834d8446b9
      version: -1
      name: Set Dashboard Created field
      description: |-
        Saves "Create Dashboards" task results to Alert Field "dashboardscreated" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).

        If "dashboardscreated" does not exist, task will continue on error. This is a non-breaking issue. Simply check the output of "Create Dashboards" to see task status.
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      dashboardscreated:
        simple: ${ConfigurationSetup.Dashboards}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5438
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: f7935f6a-5e48-42ef-89e9-15c2f4f043a8
    type: title
    task:
      id: f7935f6a-5e48-42ef-89e9-15c2f4f043a8
      version: -1
      name: Configure Dashboards
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "79"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 990,
          "y": 4707
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: a44ce42e-0717-414b-8946-9872df3d147a
    type: regular
    task:
      id: a44ce42e-0717-414b-8946-9872df3d147a
      version: -1
      name: Import Dashboards
      description: Dashboard Creator for the Content Management pack.
      scriptName: DashboardCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "76"
    scriptarguments:
      dashboard_entry_name:
        simple: ${ConfigurationSetup.Dashboards.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "79":
    id: "79"
    taskid: a3fc1117-68c4-42e5-8411-88601e52f9ac
    type: condition
    task:
      id: a3fc1117-68c4-42e5-8411-88601e52f9ac
      version: -1
      name: Dashboards to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "80"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Dashboards
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 990,
          "y": 4856
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: 110758c8-ea38-4a81-8782-8eefaace3f2b
    type: condition
    task:
      id: 110758c8-ea38-4a81-8782-8eefaace3f2b
      version: -1
      name: Need to grab data from URL?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "78"
      "yes":
      - "81"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Dashboards.url
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5023
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: b07bffd6-6b9f-41c1-8c84-eaf8a02306a8
    type: regular
    task:
      id: b07bffd6-6b9f-41c1-8c84-eaf8a02306a8
      version: -1
      name: Download Dashboard from URL
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "78"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.Dashboards.name}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.Dashboards.url}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1451,
          "y": 5150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: f52c8215-d611-422f-8696-a90902e7b273
    type: title
    task:
      id: f52c8215-d611-422f-8696-a90902e7b273
      version: -1
      name: CM FF Configurations, Part 3
      description: 'The following sections include configuration actions for configuration
        objects only available via API for tenants with the CM FF enabled. '
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "83"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 4255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: c4dff272-08d3-494b-8d67-caee964cd581
    type: regular
    task:
      id: c4dff272-08d3-494b-8d67-caee964cd581
      version: -1
      name: Check Content Management APIs are enabled
      description: send HTTP POST request.
      script: '|||core-api-post'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#error#':
      - "84"
      '#none#':
      - "75"
      - "77"
    scriptarguments:
      body:
        simple: '{"request_data": {"filters": []}}'
      uri:
        simple: /public_api/v1/correlations/get
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 514,
          "y": 4371
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: cfd4ef3e-d2eb-4969-88ed-cec1f1087e22
    type: regular
    task:
      id: cfd4ef3e-d2eb-4969-88ed-cec1f1087e22
      version: -1
      name: Request CM FF and Continue
      description: Continue the investigation.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "75"
      - "77"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 503,
          "y": 4525
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: 408aff98-5be5-42ca-834d-1278d60808ea
    type: regular
    task:
      id: 408aff98-5be5-42ca-834d-1278d60808ea
      version: -1
      name: Complete the Manual Configuration Steps
      description: Please complete the [Manual Steps Guide](https://docs.google.com/document/d/1KrpoHsACJdNekTatWsVDnBO2vOq0VP4KqYMVSj9JwHA/edit?tab=t.0#heading=h.5y2vxu57lyb0)
        for additional manual configuration.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6074
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "33_64_#default#": 0.1,
      "34_18_yes": 0.44,
      "34_82_#default#": 0.25,
      "53_64_#default#": 0.1,
      "55_30_yes": 0.57,
      "63_65_#default#": 0.27,
      "69_70_yes": 0.65,
      "69_82_#default#": 0.23,
      "70_68_#default#": 0.45,
      "74_48_#default#": 0.1,
      "79_48_#default#": 0.12
    },
    "paper": {
      "dimensions": {
        "height": 7323,
        "width": 2018,
        "x": -186,
        "y": -832
      }
    }
  }
inputs:
- key: InstanceName
  value: {}
  required: false
  description: Core REST API instance name to use.
  playbookInputQuery: null
- key: GitlabInstanceName
  value: {}
  required: false
  description: Gitlab instance name to use.
  playbookInputQuery: null
outputs: []
sourceplaybookid: Configuration Setup
dirtyInputs: true
