Packs/POVContentPack/Playbooks/XSIAM_Starter_Configuration_Setup.yml
id: XSIAM Starter Configuration Setup
version: 28
vcShouldKeepItemLegacyProdMachine: false
name: XSIAM Starter Configuration Setup
description: Playbook to run to set-up your XSIAM Tenant with Starter Configuration
  for POVs
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 82a70f62-880c-46e1-8a60-212e7d4d7445
    type: start
    task:
      id: 82a70f62-880c-46e1-8a60-212e7d4d7445
      version: -1
      name: ""
      description: Start Task
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": -832
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 8e81719a-9ea3-4893-99f1-3b20a86135cc
    type: regular
    task:
      id: 8e81719a-9ea3-4893-99f1-3b20a86135cc
      version: -1
      name: Configuration Setup with Saved XSIAM File
      description: Parses xsoar_config.json file to save configuration to context
        for the Content Management pack.
      scriptName: ExtendedConfigurationSetup
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      configuration_file_entry_id:
        complex:
          root: File
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: File.Name
                iscontext: true
              right:
                value:
                  simple: xsoar_config.json
          accessor: EntryID
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 215a937a-c9d1-4343-8f2a-4a58926ad9ee
    type: title
    task:
      id: 215a937a-c9d1-4343-8f2a-4a58926ad9ee
      version: -1
      name: DONE
      description: DONE
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6431
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 0e13d962-47d4-4d45-96b7-9ad1463552b4
    type: regular
    task:
      id: 0e13d962-47d4-4d45-96b7-9ad1463552b4
      version: -1
      name: Set Custom Packs Installed field
      description: "Saves \"Install Custom Packs\" task results to Alert Field \"custompacksinstalled\"
        from XSOAR CI/CD content. \n\nIf \"custompacksinstalled\" does not exist,
        task will continue on error. This is a non-breaking issue. Simply check the
        output of \"Install Custom Packs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      custompacksinstalled:
        simple: ${ConfigurationSetup.CustomPacks}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 2092
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: e0a74ec9-d00b-4028-b2d6-7caf9d71ff68
    type: regular
    task:
      id: e0a74ec9-d00b-4028-b2d6-7caf9d71ff68
      version: -1
      name: Set Marketplace Packs Installed field
      description: "Saves \"Install Marketplace Packs\" task results to Alert Field
        \"marketplacepacksinstalled\" from XSOAR CI/CD content. \n\nIf \"marketplacepacksinstalled\"
        does not exist, task will continue on error. This is a non-breaking issue.
        Simply check the output of \"Install Marketplace Packs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      marketplacepacksinstalled:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 199ffb64-16a4-44f6-af5f-150b6ad4032e
    type: regular
    task:
      id: 199ffb64-16a4-44f6-af5f-150b6ad4032e
      version: -1
      name: Set Lists Created field
      description: "Saves \"Create Lists\" task results to Alert Field \"listscreated\"
        from XSOAR CI/CD content. \n\nIf \"listcreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Lists\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      listscreated:
        simple: ${ConfigurationSetup.Lists}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1364
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 60379a0e-ca01-4e0b-85c9-0f145b054ca4
    type: regular
    task:
      id: 60379a0e-ca01-4e0b-85c9-0f145b054ca4
      version: -1
      name: Set Jobs Created field
      description: "Saves \"Create Jobs\" task results to Alert Field \"jobscreated\"
        from XSOAR CI/CD content. \n\nIf \"jobscreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Jobs\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      jobscreated:
        simple: ${ConfigurationSetup.Jobs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3639
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 5627d51d-14b4-4c51-8f3b-49ded41bf741
    type: title
    task:
      id: 5627d51d-14b4-4c51-8f3b-49ded41bf741
      version: -1
      name: Install Custom Packs
      description: Install Custom Packs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1289
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: d2716fe7-76c1-49e6-8e55-dcc7534da6ba
    type: regular
    task:
      id: d2716fe7-76c1-49e6-8e55-dcc7534da6ba
      version: -1
      name: Install Custom Packs
      description: Wrapper for the pov-install-content-bundle Integration Instance
        Command
      scriptName: POVInstallContentBundle
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      entry_filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      retry-count:
        simple: "2"
      save_as_system:
        simple: ${ConfigurationSetup.CustomPacks.system}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1953
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 3fb95fe3-6bfb-4cca-8863-6300904defd7
    type: title
    task:
      id: 3fb95fe3-6bfb-4cca-8863-6300904defd7
      version: -1
      name: Install Marketplace Packs
      description: Install Marketplace Packs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 28bf1e16-4ddd-4c26-8fe4-0288f5150153
    type: regular
    task:
      id: 28bf1e16-4ddd-4c26-8fe4-0288f5150153
      version: -1
      name: Install Marketplace Packs
      description: Content packs installer from marketplace.
      scriptName: ContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      execution-timeout:
        simple: "1000"
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: ${ConfigurationSetup.MarketplacePacks}
      using:
        complex:
          root: inputs.InstanceName
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1028
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 3c2e7f37-68a4-4b8b-881d-690636ac9c09
    type: title
    task:
      id: 3c2e7f37-68a4-4b8b-881d-690636ac9c09
      version: -1
      name: Configure Lists
      description: Configure the lists
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 122,
          "y": 885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 29cc6bf3-9351-4df3-8b8e-e924a949ae90
    type: title
    task:
      id: 29cc6bf3-9351-4df3-8b8e-e924a949ae90
      version: -1
      name: Configure Jobs
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 184,
          "y": 3162
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 579bf385-d80e-4a4d-8a77-5f564889373d
    type: regular
    task:
      id: 579bf385-d80e-4a4d-8a77-5f564889373d
      version: -1
      name: Create Jobs
      description: Job Creator for the Content Management pack.
      scriptName: JobCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      job_name:
        simple: ${ConfigurationSetup.Jobs.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3494
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: ae16b959-2eef-4112-8e24-32d1864fa5a6
    type: regular
    task:
      id: ae16b959-2eef-4112-8e24-32d1864fa5a6
      version: -1
      name: Create Lists
      description: List creator for the content management pack.
      scriptName: ListCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      list_data:
        simple: ${ConfigurationSetup.Lists.listdata}
      list_name:
        simple: ${ConfigurationSetup.Lists.listname}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1204
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: ab3d8194-4107-4519-8ac5-2d92b44b8ebd
    type: title
    task:
      id: ab3d8194-4107-4519-8ac5-2d92b44b8ebd
      version: -1
      name: Configurations
      description: Configurations
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
      - "13"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 88601d1d-463e-46a6-8a84-10a91ee83d2a
    type: regular
    task:
      id: 88601d1d-463e-46a6-8a84-10a91ee83d2a
      version: -1
      name: Download Custom Packs using an HTTP request
      description: Sends an HTTP request. Returns the response as a JSON file.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.CustomPacks.packurl}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1823
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: ba3e1172-e8a4-4a52-87c1-5ad0cfb3ba68
    type: regular
    task:
      id: ba3e1172-e8a4-4a52-87c1-5ad0cfb3ba68
      version: -1
      name: closeInvestigation
      description: Close the current incident
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6256
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: ca4a2da5-ae10-43a5-801c-706ee2e978db
    type: condition
    task:
      id: ca4a2da5-ae10-43a5-801c-706ee2e978db
      version: -1
      name: Lists to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Lists
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 122,
          "y": 1044
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 447a2755-b9ba-4085-8729-57077048a470
    type: condition
    task:
      id: 447a2755-b9ba-4085-8729-57077048a470
      version: -1
      name: Jobs to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Jobs
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 180,
          "y": 3299
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: b34b4b9a-83eb-4ea6-bb54-9b0cbea3ad4e
    type: regular
    task:
      id: b34b4b9a-83eb-4ea6-bb54-9b0cbea3ad4e
      version: -1
      name: Download Configuration File from raw HTTP GitHub Repo
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      filename:
        simple: xsoar_config.json
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${incident.povgithubxsoarconfigfilepath}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 383
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 328a33f6-f3fc-4586-8fa9-0e2d733f449b
    type: title
    task:
      id: 328a33f6-f3fc-4586-8fa9-0e2d733f449b
      version: -1
      name: Content Fetch
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 204
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 42d7d23d-be18-45b9-8896-45b5c4b40869
    type: title
    task:
      id: 42d7d23d-be18-45b9-8896-45b5c4b40869
      version: -1
      name: Clean-Up
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "85"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 5904
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: b9d63b55-09ef-4178-8910-2333d608177f
    type: title
    task:
      id: b9d63b55-09ef-4178-8910-2333d608177f
      version: -1
      name: Set-Up Playbook Pre-Reqs
      description: This section installs required content packs, such as ContentManagement
        Pack and CoreRestAPI, and creates integration instances that must be used
        later in the playbook.
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -673
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 9a89ed63-5d34-410e-80ed-6fdf020bb383
    type: condition
    task:
      id: 9a89ed63-5d34-410e-80ed-6fdf020bb383
      version: -1
      name: Custom Packs to Install?
      description: Checks whether there are custom packs to install when no source
        is provided. In that case, the playbook will stop with an error.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "54"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: ConfigurationSetup
                accessor: CustomPacks
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1423
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: 9fa0f3cb-2b84-4584-895c-35f024140f3b
    type: regular
    task:
      id: 9fa0f3cb-2b84-4584-895c-35f024140f3b
      version: -1
      name: Grab Enabled Integration Instances
      description: Gets all currently enabled integration instances.
      scriptName: GetEnabledInstances
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "55"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1553
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 9df1aa50-5093-4be0-8425-d37ffa56d958
    type: condition
    task:
      id: 9df1aa50-5093-4be0-8425-d37ffa56d958
      version: -1
      name: POV XSIAM Integration Instance Enabled?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: EnabledInstances
            iscontext: true
          right:
            value:
              simple: POV XSIAM Content Management Instance
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1688
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 75ee68dc-7a31-4f39-899a-07bb7a2f4814
    type: regular
    task:
      id: 75ee68dc-7a31-4f39-899a-07bb7a2f4814
      version: -1
      name: Grab Server URL
      description: Get the Server URL.
      scriptName: GetServerURL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -538
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: bf06e83b-261b-4ebf-9b32-56aab9ae6985
    type: regular
    task:
      id: bf06e83b-261b-4ebf-9b32-56aab9ae6985
      version: -1
      name: Create pov-install-content-bundle Integration Instance
      description: "Creates a 'POV XSIAM Content Management' Integration Instance,
        which is used to install custom content bundles. \n\nIf the instance already
        exists, the command will error. This is expected, and the task will continue
        on error."
      script: '|||core-api-put'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      body:
        simple: '{"version": 22, "propagationLabels": ["all"], "isOverridable": false,
          "enabled": "true", "name": "POV XSIAM Content Management Instance", "brand":
          "POV XSIAM Content Management", "category": "Utilities", "engine": "", "engineGroup":
          "", "isIntegrationScript": true, "mappingId": "", "outgoingMapperId": "",
          "incomingMapperId": "", "canSample": false, "defaultIgnore": false, "integrationLogLevel":
          "", "configuration": {"id": "", "version": 0, "cacheVersn": 0, "modified":
          "0001-01-01T00:00:00Z", "sizeInBytes": 0, "packID": "", "packName": "",
          "itemVersion": "", "fromServerVersion": "", "toServerVersion": "", "definitionId":
          "", "isOverridable": false, "vcShouldIgnore": false, "vcShouldKeepItemLegacyProdMachine":
          false, "commitMessage": "", "shouldCommit": false, "name": "", "prevName":
          "", "display": "", "brand": "", "category": "", "icon": "", "description":
          "", "configuration": null, "integrationScript": null, "hidden": false, "canGetSamples":
          false}, "data": [{"section": "Connect", "display": "API Key ID", "displayPassword":
          "API Key", "name": "credentials", "defaultValue": "", "type": 9, "required":
          true, "hidden": false, "hiddenUsername": false, "hiddenPassword": false,
          "options": null, "info": "", "hasvalue": true, "value": {"credential": "Standard
          XSIAM API Key", "credentials": {"cacheVersn": 0, "id": "", "locked": false,
          "modified": "0001-01-01T00:00:00Z", "name": "", "sizeInBytes": 0, "user":
          "", "vaultInstanceId": "", "version": 0, "workgroup": ""}, "passwordChanged":
          false}}, {"section": "Connect", "advanced": true, "display": "Trust any
          certificate (not secure)", "displayPassword": "", "name": "insecure", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "advanced": true, "display": "Use
          system proxy settings", "displayPassword": "", "name": "proxy", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "display": "Server URL (e.g., https://api.xsoar-example.com)",
          "displayPassword": "", "name": "url", "defaultValue": "https://api.xsoar-example.com",
          "type": 0, "required": true, "hidden": false, "hiddenUsername": false, "hiddenPassword":
          false, "options": null, "info": "", "hasvalue": true, "value": "https://api-${ServerURL.Host}"}],
          "passwordProtected": false}'
      uri:
        simple: xsoar/public/v1/settings/integration
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -393
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: 81f19745-9e12-4799-9c87-a0de721d478a
    type: regular
    task:
      id: 81f19745-9e12-4799-9c87-a0de721d478a
      version: -1
      name: Install XSOAR CI/CD MP Pack
      description: Content packs installer from marketplace.
      scriptName: ContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"ContentManagement", "packversion":"latest"}]'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": -103
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: c997483c-9d40-4757-b25e-cbfe2753774d
    type: regular
    task:
      id: c997483c-9d40-4757-b25e-cbfe2753774d
      version: -1
      name: Update Base
      description: Installs/upgrades Base Marketplace content pack
      scriptName: ContentPackInstaller
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"Base", "packversion":"latest"}]'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 603,
          "y": -256
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: 9e1782b4-0532-4837-87c7-ef9b9ca98ace
    type: regular
    task:
      id: 9e1782b4-0532-4837-87c7-ef9b9ca98ace
      version: -1
      name: Delete Pre Configs' ConfigurationSetup Context
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex XSOAR 6
        see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      key:
        simple: ConfigurationSetup
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: bcec549b-904c-41da-86eb-4d0467e7c78b
    type: regular
    task:
      id: bcec549b-904c-41da-86eb-4d0467e7c78b
      version: -1
      name: Set Integration Instances Created field
      description: "Saves \"Create Integration Instances\" task results to Alert Field
        \"integrationinstancescreated\" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"integrationinstancescreated\" does not exist, task will continue
        on error. This is a non-breaking issue. Simply check the output of \"Create
        Integration Instances\" to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      integrationinstancescreated:
        simple: ${ConfigurationSetup.IntegrationInstances}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2759
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: 0fd15c77-02ed-45cf-8835-582f3d5f08fb
    type: regular
    task:
      id: 0fd15c77-02ed-45cf-8835-582f3d5f08fb
      version: -1
      name: Create Integration Instances
      description: Integration Instance Creator for the Content Management pack.
      scriptName: IntegrationInstanceCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      integration_instance_name:
        simple: ${ConfigurationSetup.IntegrationInstances.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2624
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: c99ceb2a-e007-4ed7-8c15-9ce566358143
    type: condition
    task:
      id: c99ceb2a-e007-4ed7-8c15-9ce566358143
      version: -1
      name: Integration Instances to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "65"
      "yes":
      - "62"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.IntegrationInstances
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2484
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 3d98baa5-1dc7-4611-850b-1eed09513458
    type: title
    task:
      id: 3d98baa5-1dc7-4611-850b-1eed09513458
      version: -1
      name: Configure Integration Instances
      description: Configure the integration instances
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "63"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2364
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 41c38924-be01-40f2-8e5a-8d65b4ebfd44
    type: title
    task:
      id: 41c38924-be01-40f2-8e5a-8d65b4ebfd44
      version: -1
      name: Configurations, Part 2
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "67"
      - "17"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2953
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: c5e5d75f-b50c-476e-b3d8-6566ca43a2f8
    type: regular
    task:
      id: c5e5d75f-b50c-476e-b3d8-6566ca43a2f8
      version: -1
      name: Set Lookup Datasets Created field
      description: "Saves \"Create Lookup Datasets\" task results to Alert Field \"lookupdatasetscreated\"
        from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"lookupdatasetscreated\" does not exist, task will continue on error.
        This is a non-breaking issue. Simply check the output of \"Create Lookup Datasets\"
        to see task status."
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      lookupdatasetscreated:
        simple: ${ConfigurationSetup.LookupDatasets}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3886
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: 8dd1260f-3f59-44a8-8892-80c814ac2138
    type: title
    task:
      id: 8dd1260f-3f59-44a8-8892-80c814ac2138
      version: -1
      name: Configure Lookup Datasets
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "69"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3167
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: f5fb50f5-146b-4e2c-8714-d25aa3d20b26
    type: regular
    task:
      id: f5fb50f5-146b-4e2c-8714-d25aa3d20b26
      version: -1
      name: Install Lookup Dataset
      description: Lookup Dataset Creator for the Content Management pack.
      scriptName: LookupDatasetCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      lookup_dataset_name:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3744
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: c0a584fd-5580-40ed-8106-38e6b49046ba
    type: condition
    task:
      id: c0a584fd-5580-40ed-8106-38e6b49046ba
      version: -1
      name: Lookup Datasets to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "70"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.LookupDatasets
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3312
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 0745e9fc-4ae0-48b1-8910-9662b50d7585
    type: condition
    task:
      id: 0745e9fc-4ae0-48b1-8910-9662b50d7585
      version: -1
      name: Need to grab data from URL?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "71"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.LookupDatasets.url
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3471
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: 79476a44-f573-42da-8cde-2f29a63698a2
    type: regular
    task:
      id: 79476a44-f573-42da-8cde-2f29a63698a2
      version: -1
      name: Download Lookup Dataset from URL
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.LookupDatasets.url}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1245,
          "y": 3598
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: bb120fe9-2767-41ad-94cb-13e5fd3b99ae
    type: regular
    task:
      id: bb120fe9-2767-41ad-94cb-13e5fd3b99ae
      version: -1
      name: Set Correlation Rules Created field
      description: |-
        Saves "Create Correlation Rules" task results to Alert Field "correlationrulescreated" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).

        If "correlationrulescreated" does not exist, task will continue on error. This is a non-breaking issue. Simply check the output of "Create Correlation Rules" to see task status.
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      correlationrulescreated:
        simple: ${ConfigurationSetup.CorrelationRules}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -186,
          "y": 5182
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: 0ee8da8f-fc25-4436-8e63-82cc74b7a982
    type: regular
    task:
      id: 0ee8da8f-fc25-4436-8e63-82cc74b7a982
      version: -1
      name: Create Correlation Rules
      description: Correlation Rule Creator for the Content Management pack.
      scriptName: CorrelationRuleCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      correlation_rule_name:
        simple: ${ConfigurationSetup.CorrelationRules.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -186,
          "y": 5037
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: 48a30073-72ec-4164-8074-0c8e4e723d6d
    type: condition
    task:
      id: 48a30073-72ec-4164-8074-0c8e4e723d6d
      version: -1
      name: Correlation Rules to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "73"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.CorrelationRules
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 37,
          "y": 4842
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: 41d3e2fd-5bb5-4918-8348-14ead9b73877
    type: title
    task:
      id: 41d3e2fd-5bb5-4918-8348-14ead9b73877
      version: -1
      name: Configure Correlation Rules
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "74"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 37,
          "y": 4699
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: 6e60cfde-2eb6-4406-9939-16e44711f5d9
    type: regular
    task:
      id: 6e60cfde-2eb6-4406-9939-16e44711f5d9
      version: -1
      name: Set Dashboard Created field
      description: |-
        Saves "Create Dashboards" task results to Alert Field "dashboardscreated" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).

        If "dashboardscreated" does not exist, task will continue on error. This is a non-breaking issue. Simply check the output of "Create Dashboards" to see task status.
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      dashboardscreated:
        simple: ${ConfigurationSetup.Dashboards}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5438
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: 514ab96b-8a91-4aa7-83e1-739c7f64203c
    type: title
    task:
      id: 514ab96b-8a91-4aa7-83e1-739c7f64203c
      version: -1
      name: Configure Dashboards
      description: Configure the jobs
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "79"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 990,
          "y": 4707
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: 0afb7c74-7347-49c3-8b72-b16d8b0b0eb3
    type: regular
    task:
      id: 0afb7c74-7347-49c3-8b72-b16d8b0b0eb3
      version: -1
      name: Import Dashboards
      description: Dashboard Creator for the Content Management pack.
      scriptName: DashboardCreator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "76"
    scriptarguments:
      dashboard_entry_name:
        simple: ${ConfigurationSetup.Dashboards.name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "79":
    id: "79"
    taskid: d05918ce-3b67-444b-83b0-fb84b7c476fa
    type: condition
    task:
      id: d05918ce-3b67-444b-83b0-fb84b7c476fa
      version: -1
      name: Dashboards to Create?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "80"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Dashboards
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 990,
          "y": 4856
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: e9a2685f-5eb5-4efd-8f31-b47eace45065
    type: condition
    task:
      id: e9a2685f-5eb5-4efd-8f31-b47eace45065
      version: -1
      name: Need to grab data from URL?
      description: Changes the properties of an incident.
      type: condition
      iscommand: false
      brand: Builtin
    nexttasks:
      '#default#':
      - "78"
      "yes":
      - "81"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ConfigurationSetup.Dashboards.url
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1214,
          "y": 5023
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: 4bf47767-e052-4b62-88d1-400a3f2fa1a3
    type: regular
    task:
      id: 4bf47767-e052-4b62-88d1-400a3f2fa1a3
      version: -1
      name: Download Dashboard from URL
      description: Sends http request. Returns the response as json.
      scriptName: http
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "78"
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.Dashboards.name}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.Dashboards.url}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1451,
          "y": 5150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: b10dacc3-f653-42fa-b61b-356908bb9f41
    type: title
    task:
      id: b10dacc3-f653-42fa-b61b-356908bb9f41
      version: -1
      name: CM FF Configurations, Part 3
      description: 'The following sections include configuration actions for configuration
        objects only available via API for tenants with the CM FF enabled. '
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "83"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 514,
          "y": 4255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: 6e81e1ac-b9ca-4f91-b672-f21867eccfae
    type: regular
    task:
      id: 6e81e1ac-b9ca-4f91-b672-f21867eccfae
      version: -1
      name: Check Content Management APIs are enabled
      description: send HTTP POST request.
      script: '|||core-api-post'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#error#':
      - "84"
      '#none#':
      - "75"
      - "77"
    scriptarguments:
      body:
        simple: '{"request_data": {"filters": []}}'
      uri:
        simple: /public_api/v1/correlations/get
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 514,
          "y": 4371
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: ceb38be4-7f9a-43e7-aa45-8d6b1eb98acf
    type: regular
    task:
      id: ceb38be4-7f9a-43e7-aa45-8d6b1eb98acf
      version: -1
      name: Request CM FF and Continue
      description: Continue the investigation.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "75"
      - "77"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 503,
          "y": 4525
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: e3b017cb-c6e3-4aea-bcf8-f6e7c6c5d823
    type: regular
    task:
      id: e3b017cb-c6e3-4aea-bcf8-f6e7c6c5d823
      version: -1
      name: Complete the Manual Configuration Steps
      description: Please complete the [Manual Steps Guide](https://docs.google.com/document/d/1KrpoHsACJdNekTatWsVDnBO2vOq0VP4KqYMVSj9JwHA/edit?tab=t.0#heading=h.5y2vxu57lyb0)
        for additional manual configuration.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 484,
          "y": 6074
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "33_64_#default#": 0.1,
      "34_18_yes": 0.44,
      "34_82_#default#": 0.25,
      "53_64_#default#": 0.1,
      "55_30_yes": 0.57,
      "63_65_#default#": 0.27,
      "69_70_yes": 0.65,
      "69_82_#default#": 0.23,
      "70_68_#default#": 0.45,
      "74_48_#default#": 0.1,
      "79_48_#default#": 0.12
    },
    "paper": {
      "dimensions": {
        "height": 7323,
        "width": 2018,
        "x": -186,
        "y": -832
      }
    }
  }
inputs:
- key: InstanceName
  value: {}
  required: false
  description: Core REST API instance name to use.
  playbookInputQuery: null
- key: GitlabInstanceName
  value: {}
  required: false
  description: Gitlab instance name to use.
  playbookInputQuery: null
outputs: []
sourceplaybookid: Configuration Setup
dirtyInputs: true
