Packs/POVContentPack/Playbooks/XSIAM_Starter_Configuration_Setup.yml
id: XSIAM Starter Configuration Setup
version: -1
name: XSIAM Starter Configuration Setup
description: Playbook to run to set-up your XSIAM Tenant with Starter Configuration
  for POVs
starttaskid: "0"
adopted: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Start Task
      id: 8b4d0a5d-7d31-409c-875e-ccda5c4464c1
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 8b4d0a5d-7d31-409c-875e-ccda5c4464c1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -1718
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      configuration_file_entry_id:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isEqualString
              right:
                value:
                  simple: xsoar_config.json
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses xsoar_config.json file to save configuration to context
        for the Content Management pack.
      id: 995b490a-5a97-4c76-8cc8-4b7ed317ad6a
      iscommand: false
      name: Configuration Setup with Saved XSIAM File
      playbooktaskmissingcomponent: null
      script: ExtendedConfigurationSetup
      type: regular
      version: -1
    taskid: 995b490a-5a97-4c76-8cc8-4b7ed317ad6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -89
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: DONE
      id: ef282e38-d561-49c7-853e-0ee7237bd206
      iscommand: false
      name: DONE
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: ef282e38-d561-49c7-853e-0ee7237bd206
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 517,
          "y": 4761
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      custompacksinstalled:
        simple: ${ConfigurationSetup.CustomPacks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Install Custom Packs\" task results to Alert Field \"custompacksinstalled\"
        from XSOAR CI/CD content. \n\nIf \"custompacksinstalled\" does not exist,
        task will continue on error. This is a non-breaking issue. Simply check the
        output of \"Install Custom Packs\" to see task status."
      id: e8177147-ac1e-4fc8-8d11-0b32fffdee96
      iscommand: true
      name: Set Custom Packs Installed field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: e8177147-ac1e-4fc8-8d11-0b32fffdee96
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 2182
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      marketplacepacksinstalled:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Install Marketplace Packs\" task results to Alert Field
        \"marketplacepacksinstalled\" from XSOAR CI/CD content. \n\nIf \"marketplacepacksinstalled\"
        does not exist, task will continue on error. This is a non-breaking issue.
        Simply check the output of \"Install Marketplace Packs\" to see task status."
      id: bff00fb9-7118-417a-81d9-a560c8ca344a
      iscommand: true
      name: Set Marketplace Packs Installed field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: bff00fb9-7118-417a-81d9-a560c8ca344a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1145
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      listscreated:
        simple: ${ConfigurationSetup.Lists}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Create Lists\" task results to Alert Field \"listscreated\"
        from XSOAR CI/CD content. \n\nIf \"listcreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Lists\" to see task status."
      id: 48b3fd66-c5d3-4285-8efc-01fc3b924701
      iscommand: true
      name: Set Lists Created field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 48b3fd66-c5d3-4285-8efc-01fc3b924701
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1364
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      jobscreated:
        simple: ${ConfigurationSetup.Jobs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Create Jobs\" task results to Alert Field \"jobscreated\"
        from XSOAR CI/CD content. \n\nIf \"jobscreated\" does not exist, task will
        continue on error. This is a non-breaking issue. Simply check the output of
        \"Create Jobs\" to see task status."
      id: 6f9a834e-596a-49bc-8f36-72905297b982
      iscommand: true
      name: Set Jobs Created field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 6f9a834e-596a-49bc-8f36-72905297b982
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3639
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Install Custom Packs
      id: a52f35a2-5a72-433d-89dd-4b67d24aaab7
      iscommand: false
      name: Install Custom Packs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: a52f35a2-5a72-433d-89dd-4b67d24aaab7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1289
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: errorPath
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "96"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      entry_filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      retry-count:
        simple: "1"
      save_as_system:
        simple: ${ConfigurationSetup.CustomPacks.system}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wrapper for the pov-install-content-bundle Integration Instance
        Command
      id: ae8a719c-f178-466b-b4d3-f7c0bc0b087c
      iscommand: false
      name: Install Custom Packs
      playbooktaskmissingcomponent: null
      script: POVInstallContentBundle
      type: regular
      version: -1
    taskid: ae8a719c-f178-466b-b4d3-f7c0bc0b087c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1963
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Install Marketplace Packs
      id: c60ccb95-bd3a-45e9-83e2-949a1968afd2
      iscommand: false
      name: Install Marketplace Packs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: c60ccb95-bd3a-45e9-83e2-949a1968afd2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 885
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "1000"
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: ${ConfigurationSetup.MarketplacePacks}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Content packs installer from marketplace.
      id: 649709ae-2e36-4e1d-a671-5a01f18604a9
      iscommand: false
      name: Install Marketplace Packs
      playbooktaskmissingcomponent: null
      script: ContentPackInstaller
      type: regular
      version: -1
    taskid: 649709ae-2e36-4e1d-a671-5a01f18604a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1028
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Configure the lists
      id: 2185873b-6c0c-4bf6-8275-1d7df28759fb
      iscommand: false
      name: Configure Lists
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 2185873b-6c0c-4bf6-8275-1d7df28759fb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 122,
          "y": 885
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Configure the jobs
      id: 6a260541-7d74-4b38-823d-989acf820bf0
      iscommand: false
      name: Configure Jobs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 6a260541-7d74-4b38-823d-989acf820bf0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 184,
          "y": 3162
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      job_name:
        simple: ${ConfigurationSetup.Jobs.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Job Creator from the POV Content Pack.
      id: 00555de0-297f-4ba8-8e10-3e2909f35016
      iscommand: false
      name: Create Jobs
      playbooktaskmissingcomponent: null
      script: POVJobCreator
      type: regular
      version: -1
    taskid: 00555de0-297f-4ba8-8e10-3e2909f35016
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 32,
          "y": 3494
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      list_data:
        simple: ${ConfigurationSetup.Lists.listdata}
      list_name:
        simple: ${ConfigurationSetup.Lists.listname}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: List creator for the content management pack.
      id: 020e83f7-1572-4d5e-8cff-2f8a208153e6
      iscommand: false
      name: Create Lists
      playbooktaskmissingcomponent: null
      script: POVListCreator
      type: regular
      version: -1
    taskid: 020e83f7-1572-4d5e-8cff-2f8a208153e6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 355,
          "y": 1204
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Configurations
      id: 4685a647-03d2-4e3f-86d0-9abab29607d2
      iscommand: false
      name: Configurations
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 4685a647-03d2-4e3f-86d0-9abab29607d2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 720
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.CustomPacks.packurl}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an HTTP request. Returns the response as a JSON file.
      id: 03c1d75b-3bd4-42fe-800b-b9dea077aec6
      iscommand: false
      name: Download Custom Packs using an HTTP request
      playbooktaskmissingcomponent: null
      script: http
      type: regular
      version: -1
    taskid: 03c1d75b-3bd4-42fe-800b-b9dea077aec6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1823
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert
      id: 70855918-72ed-4333-8d93-d2f0ded95fe1
      iscommand: true
      name: closeInvestigation
      playbooktaskmissingcomponent: null
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 70855918-72ed-4333-8d93-d2f0ded95fe1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 517,
          "y": 4622
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.Lists
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Changes the properties of an alert.
      id: 15f83068-757e-4c85-8c5c-17a01b05449f
      iscommand: false
      name: Lists to Create?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 15f83068-757e-4c85-8c5c-17a01b05449f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 122,
          "y": 1044
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.Jobs
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Changes the properties of an alert.
      id: 4390fb07-1d0c-4687-8a88-69f7b311b29b
      iscommand: false
      name: Jobs to Create?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 4390fb07-1d0c-4687-8a88-69f7b311b29b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 180,
          "y": 3299
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      filename:
        simple: xsoar_config.json
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${POVGitHubRepoArray}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends http request. Returns the response as json.
      id: db3dc4fd-7b69-446e-8908-bdfe24db7b64
      iscommand: false
      name: Download Configuration File from raw HTTP GitHub Repo
      playbooktaskmissingcomponent: null
      script: http
      type: regular
      version: -1
    taskid: db3dc4fd-7b69-446e-8908-bdfe24db7b64
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -231
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9eed524e-9b1c-464b-85f6-d1a4c7c098e2
      iscommand: false
      name: Content Fetch
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 9eed524e-9b1c-464b-85f6-d1a4c7c098e2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -472
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fcbe961e-0e06-4a5e-8e31-79897d1f1d9c
      iscommand: false
      name: Clean-Up
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: fcbe961e-0e06-4a5e-8e31-79897d1f1d9c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 517,
          "y": 4054
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This section installs required content packs, such as ContentManagement
        Pack and CoreRestAPI, and creates integration instances that must be used
        later in the playbook.
      id: b8184642-d8d2-4e22-81c0-8eb60cbc0aaf
      iscommand: false
      name: Set-Up Playbook Pre-Reqs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: b8184642-d8d2-4e22-81c0-8eb60cbc0aaf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -1599
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: CustomPacks
                root: ConfigurationSetup
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "64"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are custom packs to install when no source
        is provided. In that case, the playbook will stop with an error.
      id: 8cb86530-edea-4ad0-8576-72616c9dea1e
      iscommand: false
      name: Custom Packs to Install?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 8cb86530-edea-4ad0-8576-72616c9dea1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1423
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all currently enabled integration instances.
      id: 2ecc823a-5440-4188-8447-b8afdfda7551
      iscommand: false
      name: Grab Enabled Integration Instances
      playbooktaskmissingcomponent: null
      script: GetEnabledInstances
      type: regular
      version: -1
    taskid: 2ecc823a-5440-4188-8447-b8afdfda7551
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1553
        }
      }
  "55":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: EnabledInstances
          operator: containsGeneral
          right:
            value:
              simple: POV XSIAM Content Management Instance
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9abd8fec-4756-4b0e-81c8-1b4598fd5947
      iscommand: false
      name: POV XSIAM Integration Instance Enabled?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 9abd8fec-4756-4b0e-81c8-1b4598fd5947
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1179,
          "y": 1688
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the Server URL.
      id: fde7243f-9cc7-4a95-8062-12f30e855af6
      iscommand: false
      name: Grab Server URL
      playbooktaskmissingcomponent: null
      script: GetServerURL
      type: regular
      version: -1
    taskid: fde7243f-9cc7-4a95-8062-12f30e855af6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 606,
          "y": -1464
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: '{"version": 22, "propagationLabels": ["all"], "isOverridable": false,
          "enabled": "true", "name": "POV XSIAM Content Management Instance", "brand":
          "POV XSIAM Content Management", "category": "Utilities", "engine": "", "engineGroup":
          "", "isIntegrationScript": true, "mappingId": "", "outgoingMapperId": "",
          "incomingMapperId": "", "canSample": false, "defaultIgnore": false, "integrationLogLevel":
          "", "configuration": {"id": "", "version": 0, "cacheVersn": 0, "modified":
          "0001-01-01T00:00:00Z", "sizeInBytes": 0, "packID": "", "packName": "",
          "itemVersion": "", "fromServerVersion": "", "toServerVersion": "", "definitionId":
          "", "isOverridable": false, "vcShouldIgnore": false, "vcShouldKeepItemLegacyProdMachine":
          false, "commitMessage": "", "shouldCommit": false, "name": "", "prevName":
          "", "display": "", "brand": "", "category": "", "icon": "", "description":
          "", "configuration": null, "integrationScript": null, "hidden": false, "canGetSamples":
          false}, "data": [{"section": "Connect", "display": "API Key ID", "displayPassword":
          "API Key", "name": "credentials", "defaultValue": "", "type": 9, "required":
          true, "hidden": false, "hiddenUsername": false, "hiddenPassword": false,
          "options": null, "info": "", "hasvalue": true, "value": {"credential": "Standard
          XSIAM API Key", "credentials": {"cacheVersn": 0, "id": "", "locked": false,
          "modified": "0001-01-01T00:00:00Z", "name": "", "sizeInBytes": 0, "user":
          "", "vaultInstanceId": "", "version": 0, "workgroup": ""}, "passwordChanged":
          false}}, {"section": "Connect", "advanced": true, "display": "Trust any
          certificate (not secure)", "displayPassword": "", "name": "insecure", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "advanced": true, "display": "Use
          system proxy settings", "displayPassword": "", "name": "proxy", "defaultValue":
          "", "type": 8, "required": false, "hidden": false, "hiddenUsername": false,
          "hiddenPassword": false, "options": null, "info": "", "hasvalue": true,
          "value": false}, {"section": "Connect", "display": "Server URL (e.g., https://api.xsoar-example.com)",
          "displayPassword": "", "name": "url", "defaultValue": "https://api.xsoar-example.com",
          "type": 0, "required": true, "hidden": false, "hiddenUsername": false, "hiddenPassword":
          false, "options": null, "info": "", "hasvalue": true, "value": "https://api-${ServerURL.Host}"}],
          "passwordProtected": false}'
      uri:
        simple: xsoar/public/v1/settings/integration
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Creates a 'POV XSIAM Content Management' Integration Instance,
        which is used to install custom content bundles. \n\nIf the instance already
        exists, the command will error. This is expected, and the task will continue
        on error."
      id: a2edd9b3-14db-4da9-b9c1-068e453557fc
      iscommand: true
      name: Create pov-install-content-bundle Integration Instance
      playbooktaskmissingcomponent: null
      script: '|||core-api-put'
      type: regular
      version: -1
    taskid: a2edd9b3-14db-4da9-b9c1-068e453557fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": -1050
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"ContentManagement", "packversion":"latest"}]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Content packs installer from marketplace.
      id: d78c2c34-db8d-4fe0-8260-47fb78eed3b0
      iscommand: false
      name: Install XSOAR CI/CD MP Pack
      playbooktaskmissingcomponent: null
      script: ContentPackInstaller
      type: regular
      version: -1
    taskid: d78c2c34-db8d-4fe0-8260-47fb78eed3b0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -779
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    scriptarguments:
      install_dependencies:
        simple: "true"
      pack_id_key:
        simple: packid
      pack_version_key:
        simple: packversion
      packs_data:
        simple: '[{"packid":"Base", "packversion":"latest"}, {"packid": "CommonScripts",
          "packversion": "latest"}, {"packid": "DemistoRESTAPI", "packversion": "latest"}]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Installs/upgrades Base Marketplace content pack
      id: a464a849-f88d-4f9e-821e-dc031d486a4f
      iscommand: false
      name: Update Base
      playbooktaskmissingcomponent: null
      script: XSIAMContentPackInstaller
      type: regular
      version: -1
    taskid: a464a849-f88d-4f9e-821e-dc031d486a4f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 606,
          "y": -932
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ConfigurationSetup
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Delete field from context.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 93d8cb9a-2f4e-4bff-8ca3-ed7f3e75738a
      iscommand: false
      name: Delete Pre Configs' ConfigurationSetup Context
      playbooktaskmissingcomponent: null
      script: DeleteContext
      type: regular
      version: -1
    taskid: 93d8cb9a-2f4e-4bff-8ca3-ed7f3e75738a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -616
        }
      }
  "61":
    continueonerror: true
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    scriptarguments:
      integrationinstancescreated:
        simple: ${ConfigurationSetup.IntegrationInstances}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Create Integration Instances\" task results to Alert Field
        \"integrationinstancescreated\" from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"integrationinstancescreated\" does not exist, task will continue
        on error. This is a non-breaking issue. Simply check the output of \"Create
        Integration Instances\" to see task status."
      id: 47b14e98-aa26-463a-8cdd-3f997722c853
      iscommand: true
      name: Set Integration Instances Created field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 47b14e98-aa26-463a-8cdd-3f997722c853
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2759
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      integration_instance_name:
        simple: ${ConfigurationSetup.IntegrationInstances.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Integration Instance Creator for the Content Management pack.
      id: cb32e025-1463-4278-8467-11752c5616c8
      iscommand: false
      name: Create Integration Instances
      playbooktaskmissingcomponent: null
      script: IntegrationInstanceCreator
      type: regular
      version: -1
    taskid: cb32e025-1463-4278-8467-11752c5616c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2624
        }
      }
  "63":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.IntegrationInstances
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "65"
      "yes":
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Changes the properties of an alert.
      id: e8f3f403-6159-4b3b-8395-1577d50e2efa
      iscommand: false
      name: Integration Instances to Create?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: e8f3f403-6159-4b3b-8395-1577d50e2efa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2484
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Configure the integration instances
      id: f0038687-1579-4b19-8eb8-65e0d7f5d0e9
      iscommand: false
      name: Configure Integration Instances
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f0038687-1579-4b19-8eb8-65e0d7f5d0e9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2364
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53d3adc8-0d7e-483b-82e1-15fa74e266bc
      iscommand: false
      name: Configurations, Part 2
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 53d3adc8-0d7e-483b-82e1-15fa74e266bc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 514,
          "y": 2953
        }
      }
  "66":
    continueonerror: true
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      lookupdatasetscreated:
        simple: ${ConfigurationSetup.LookupDatasets}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: "Saves \"Create Lookup Datasets\" task results to Alert Field \"lookupdatasetscreated\"
        from [POVContentPack content](https://github.com/annabarone/xsiam-pov-automation/tree/main/Packs/POVContentPack).
        \n\nIf \"lookupdatasetscreated\" does not exist, task will continue on error.
        This is a non-breaking issue. Simply check the output of \"Create Lookup Datasets\"
        to see task status."
      id: b39f97a5-9122-49c8-81c3-cfab0e88db6d
      iscommand: true
      name: Set Lookup Datasets Created field
      playbooktaskmissingcomponent: null
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: b39f97a5-9122-49c8-81c3-cfab0e88db6d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3886
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Configure the jobs
      id: f720e48b-f10b-4f67-86a2-d680ee25cf15
      iscommand: false
      name: Configure Lookup Datasets
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f720e48b-f10b-4f67-86a2-d680ee25cf15
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3167
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      lookup_dataset_name:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Lookup Dataset Creator for the Content Management pack.
      id: 67e31986-51b0-4f5a-8b91-755b90afcc1a
      iscommand: false
      name: Install Lookup Dataset
      playbooktaskmissingcomponent: null
      script: LookupDatasetCreator
      type: regular
      version: -1
    taskid: 67e31986-51b0-4f5a-8b91-755b90afcc1a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3744
        }
      }
  "69":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.LookupDatasets
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Changes the properties of an alert.
      id: ff6ba7d4-465d-4d8e-80a7-91bde78cc56e
      iscommand: false
      name: Lookup Datasets to Create?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: ff6ba7d4-465d-4d8e-80a7-91bde78cc56e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 842,
          "y": 3312
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.LookupDatasets.url
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Changes the properties of an alert.
      id: 535ca4b2-93c8-43d0-8a36-32966715fb2f
      iscommand: false
      name: Need to grab data from URL?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 535ca4b2-93c8-43d0-8a36-32966715fb2f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1008,
          "y": 3471
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      filename:
        simple: ${ConfigurationSetup.LookupDatasets.dataset_name}
      method:
        simple: GET
      saveAsFile:
        simple: "yes"
      url:
        simple: ${ConfigurationSetup.LookupDatasets.url}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends http request. Returns the response as json.
      id: 95c2d0a6-abd7-4cb0-8757-6956c7f2ef50
      iscommand: false
      name: Download Lookup Dataset from URL
      playbooktaskmissingcomponent: null
      script: http
      type: regular
      version: -1
    taskid: 95c2d0a6-abd7-4cb0-8757-6956c7f2ef50
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1245,
          "y": 3598
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please follow these guides to complete the configuration:

        ${template}
      id: 781d5a6d-fa72-4c18-8cd3-b8b4ccd175b2
      iscommand: false
      name: Complete the Manual Configuration Steps
      playbooktaskmissingcomponent: null
      type: regular
      version: -1
    taskid: 781d5a6d-fa72-4c18-8cd3-b8b4ccd175b2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 4473
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      arrayData:
        simple: ${alert.povgithubxsoarconfigfilepath}
      contextKey:
        simple: POVGitHubRepoArray
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Will create an array object in context from given string input '
      id: c49ddb0f-59bc-41cf-9316-50889e7d5de6
      iscommand: false
      name: CreateArray from POV Github Repo CSV
      playbooktaskmissingcomponent: null
      script: CreateArray
      type: regular
      version: -1
    taskid: c49ddb0f-59bc-41cf-9316-50889e7d5de6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -364
        }
      }
  "88":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.PostConfigDocs
          operator: isExists
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.PostConfigDocs
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "32"
      "yes":
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 703f3415-52c8-4b54-8f43-e08578487807
      iscommand: false
      name: Manual Steps Required?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 703f3415-52c8-4b54-8f43-e08578487807
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 517,
          "y": 4178
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "85"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: template
      key:
        simple: template
      value:
        complex:
          accessor: markdown_text
          root: ConfigurationSetup.PostConfigDocs
          transformers:
          - args:
              separator:
                value:
                  simple: |2+


            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7a9b83da-07c8-47a6-b1bb-cc48064a7736
      iscommand: false
      name: Set Manual Guide output
      playbooktaskmissingcomponent: null
      script: Set
      type: regular
      version: -1
    taskid: 7a9b83da-07c8-47a6-b1bb-cc48064a7736
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 4350
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please follow these guides to complete the pre-configuration:

        ${pre_guide_template}
      id: 44808db1-855c-4c8f-b36a-d5bdd06a4676
      iscommand: false
      name: Complete the Manual Pre-Configuration Steps
      playbooktaskmissingcomponent: null
      type: regular
      version: -1
    taskid: 44808db1-855c-4c8f-b36a-d5bdd06a4676
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 570
        }
      }
  "91":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.PreConfigDocs
          operator: isExists
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              simple: ConfigurationSetup.PreConfigDocs
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: db80f05c-222c-4034-b2c7-cfb55a99f9aa
      iscommand: false
      name: Pre Manual Steps Required?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: db80f05c-222c-4034-b2c7-cfb55a99f9aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": 278
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: template
      key:
        simple: pre_guide_template
      value:
        complex:
          accessor: markdown_text
          root: ConfigurationSetup.PreConfigDocs
          transformers:
          - args:
              separator:
                value:
                  simple: |2+


            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6737af79-9737-4ed7-a685-2ea915d604a2
      iscommand: false
      name: Set Pre Manual Guide output
      playbooktaskmissingcomponent: null
      script: Set
      type: regular
      version: -1
    taskid: 6737af79-9737-4ed7-a685-2ea915d604a2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 424
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aaab7d04-1cf1-4c4e-aecb-8bec910df0f0
      iscommand: false
      name: Manual Pre-Configuration
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: aaab7d04-1cf1-4c4e-aecb-8bec910df0f0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": 120
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets all currently enabled integration instances.
      id: 8610c865-055a-4f1f-848c-7f803bd5543e
      iscommand: false
      name: Grab Enabled Integration Instances
      playbooktaskmissingcomponent: null
      script: GetEnabledInstances
      type: regular
      version: -1
    taskid: 8610c865-055a-4f1f-848c-7f803bd5543e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -1337
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: EnabledInstances
          operator: containsGeneral
          right:
            value:
              simple: POV XSIAM Content Management Instance
      label: "yes"
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 15e9bb3f-92a4-41eb-afd2-b5134138cca5
      iscommand: false
      name: POV XSIAM Integration Instance Enabled?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 15e9bb3f-92a4-41eb-afd2-b5134138cca5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 605.5,
          "y": -1206
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "The custom content that you're attempting to install failed. Please
        make sure that all content that will be installed isn't already on your computer
        as \"Custom\", not system content. \n\nTo do this:\n1. Download the .zip file
        from the issue that failed. You can find the file in the Results section of
        task #30 (Download Custom Packs using an HTTP request)\n2. Unzip the file
        \n3. Search your XSIAM tenant for any instances of the content in the .zip
        file that is \"Custom\"\n4. Delete any found custom content \n5. Click \"Mark
        as Completed\"."
      id: 88ec9f40-25d4-4eff-8562-3d211e49db5c
      iscommand: false
      name: Verify Custom Content Doesn't Exist
      playbooktaskmissingcomponent: null
      type: regular
      version: -1
    taskid: 88ec9f40-25d4-4eff-8562-3d211e49db5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1650,
          "y": 2050
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      entry_filename:
        simple: ${ConfigurationSetup.CustomPacks.packid}
      retry-count:
        simple: "1"
      save_as_system:
        simple: ${ConfigurationSetup.CustomPacks.system}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Wrapper for the pov-install-content-bundle Integration Instance
        Command
      id: 33dbe986-ebc3-4dae-a246-ae2bc632ead3
      iscommand: false
      name: Retry Install Custom Packs
      playbooktaskmissingcomponent: null
      script: POVInstallContentBundle
      type: regular
      version: -1
    taskid: 33dbe986-ebc3-4dae-a246-ae2bc632ead3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1650,
          "y": 2182
        }
      }
view: |-
  {
    "linkLabelsPosition": {
      "33_64_#default#": 0.1,
      "34_18_yes": 0.44,
      "34_48_#default#": 0.87,
      "53_64_#default#": 0.1,
      "55_30_yes": 0.57,
      "63_65_#default#": 0.27,
      "69_48_#default#": 0.23,
      "69_70_yes": 0.65,
      "70_68_#default#": 0.45,
      "88_89_yes": 0.46
    },
    "paper": {
      "dimensions": {
        "height": 6539,
        "width": 1998,
        "x": 32,
        "y": -1718
      }
    }
  }
inputs:
- key: InstanceName
  value: {}
  required: false
  description: Core REST API instance name to use.
  playbookInputQuery: null
- key: GitlabInstanceName
  value: {}
  required: false
  description: Gitlab instance name to use.
  playbookInputQuery: null
outputs: []
sourceplaybookid: Configuration Setup
dirtyInputs: true
